@CHARSET "UTF-8";
/* TOP NAVIGATION BAR */
ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #4597ba;
	position: fixed;
	top: 0px;
	z-index: 1;
}

li {
	display: flex;
    float: right;
    position: relative;
}


li:hover {
	background-color: #377995;
}

li a {
	position: relative;
    display: block;
    color: white;
    padding: 12px;
    text-decoration: none;
    font-family: 'Lobster', serif;
    font-size: 20px;
    cursor: pointer;
}

.myAvatarOnNav {
	display: block;
	width: 48px;
	height: 48px;
	cursor: pointer;
	border-radius: 10px;
}
	
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 360px;
    overflow: auto;
    max-height: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 50px;
    left: 0px;
    z-index: 1;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}

div.red-counter {
	display: none;
	font-family: Sansita;
	font-size: 11px;
	color: white;
	text-align: center;
	height: 15px;
	width: 15px;
	background-color: red;
	position: absolute;
	top: 5px;
	right: 5px;
	border-radius: 50%;
}

div.new-invitation {
	display: flex;
	position: relative;
	padding: 3px;
	border: 1px solid #9ad3de;
	border-radius: 5px;
	margin-top: 2px;
	max-height: 50px;
}

.new-invitation p {
	font-family: Sansita;
	font-size: 18px;
	margin-top: auto;
	margin-left: 5px;
	padding: 0px;
	word-wrap: break-word;
	max-width: 200px;
}

.new-invitation img {
	display: block;
	border-radius: 5px;
	width: 50px;
	height: 50px;
}

.checkIcon {
	position: absolute;
	color: #a9a9a9;	
	cursor: pointer;
	transition-duration: 0.3s;
	display: block;
	height: 30px;
	width: 30px;
	top: 10px;
	right: 50px;
}

.crossIcon {
	position: absolute;
	color: #a9a9a9;	
	cursor: pointer;
	transition-duration: 0.3s;
	display: block;
	height: 30px;
	width: 30px;
	top: 10px;
	right: 10px;
}

.checkIcon:hover {
	color: lightgreen;
}

.crossIcon:hover {
	color: tomato;
}


/* LEFT MENU */
h1.name {
    text-align: center;
    font-family: 'Sansita', serif;
    font-size: 24px;
}

h1.menu {
    text-align: center;
    font-family: 'Sansita', serif;
    font-size: 20px;
}

p.menu {
	padding: 0px;
	margin: 2px;
}

p.menu:hover {
	cursor: pointer;
	background-color: #f3f3f3;
}

p a {
    color: black;
    text-decoration: none;
}

/* MAIN BODY AND COLUMNS */

.body-nomargins {
	margin: 0px;
	background: #eaeaea; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#eaeaea, white) fixed; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#eaeaea, white) fixed; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#eaeaea, white) fixed; /* For Firefox 3.6 to 15 */
    background: linear-gradient(#eaeaea, white) fixed; /* Standard syntax */

}

.container-width {
	width: 1060px;
}

div.main-container {
	background-color: #ededed;
	margin: auto;
	height: 1px; /* jebne za moment */ 
	margin-top: 50px;
}

div.left-column {
	background-color: white;
	position: fixed;
    width: 244px;
    border: 2px solid;
	border-color: #4597ba;
}

div.center-column {
	background-color: white;
    width: 619px;
    height: auto;
    float: left;
    min-height: 100px;
    margin-left: 249px;
	border: 2px solid;
	border-color: #4597ba;
}

div.right-column {
	background-color: white;
    position: fixed;
    width: 184px;
    height: 240px;
    margin-left: 873px;
    border: 2px solid;
	border-color: #4597ba;
}

div.nav-container {
	position:relative;
	padding: 0px;
	margin:auto;
}

img.profilePhoto {
	display: block;
	border: 3px solid black;
	margin: 20px;
}

div.status-container {
	width: 600px;
	float: left;
	margin: 5px 10px 5px 10px;
	border: 2px solid #89bdd3;
	border-radius: 10px;
}

/* The CSS docs are very clear about this: parent elements NEVER expand to contain floated elements */
/* :(( */

img.avatarSmall {
	border-radius: 10px;
	display: block; /* "By default, an image is rendered inline", dlatego pod obrazkiem jest kawalek wolnego miejsca jak nie damy tej linijki */
}

img.commentAvatar {
	border-radius: 10px;
	width: 40px;
	height: 40px;
	display: block;
}

div.nameDateLocationContainer {
	width: 100%;
	height: 50px;
}

p.statusLocation {
	margin: 0px;
	margin-top: 10px;
}

div.statusMiddle {
    width: 100%;
    word-wrap: break-word;
}

div.statusBottom {
	display: flex;
	margin-left: 5px;
}

div.statusBottomPart {
	display: flex;
	border-radius: 5px;
	margin-right: 5px;
}

div.statusBottomPart:hover {
	background-color: #89bdd3;
	cursor: pointer;
}

p.lajksAndHejtsButtons {
	margin: 0px 10px 0px 5px;
}

.sansita14 {
	font-family: Sansita;
	font-size: 14px;
}

.sansita16 {
	font-family: Sansita;
	font-size: 16px;
}

.sansita18 {
	font-family: Sansita;
	font-size: 18px;
}

.margin0px {
	margin: 0px;
}

.margin5px {
	margin: 5px;
}

.padding0px {
	padding: 0px;
}

.padding5px {
	padding: 5px;
}

.autoMarginleft {
	margin-left:auto;
}

.flex {
	display: flex;
}

.flex100 {
	display: flex;
	width: 100%;
}

.flexWrap {
	
}

textarea.commentTextArea {
	width:545px;
    height: 50px;
    padding: 6px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #fcfcfc;
    resize: none;
    margin-left: 50px;
}

textarea.commentTextArea:focus {
    border: 2px solid #555;
}

.lajksAndHejts {
	padding-top: 5px;
	padding-left: 10px;
	font-family: Sansita;
	font-size: 14px;
	color: #377995;
	background-color: #e3e3e3;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	min-height: 25px;
	margin:0px;
}

.commentsSection{
	background-color: #e3e3e3;
	margin: 0px;
	margin-left: 1px;
	border-radius: 10px;
}

.commentsList {
	padding-bottom: 5px;
	display: none;
}

.comment {
	background-color: white;
	margin-left:50px;
	margin-right:5px;
	margin-bottom:3px;
	margin-top:2px;
	border-radius: 10px;
	border: solid 1px #377995;
	
}





