@CHARSET "UTF-8";
/* TOP NAVIGATION BAR */
ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #4597ba;
	position: fixed;
	top: 0px;
	z-index: 1;
}

li {
	display: flex;
    float: right;
    position: relative;
}

li a {
	position: relative;
    display: block;
    color: white;
    padding: 12px;
    text-decoration: none;
    font-family: 'Lobster', serif;
    font-size: 20px;
    cursor: pointer;
}

li a:hover {
	background-color: #377995;
}

.myAvatarOnNav {
	display: block;
	width: 48px;
	height: 48px;
	cursor: pointer;
	border-radius: 10px;
}
	
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 360px;
    overflow: auto;
    max-height: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    top: 50px;
    left: 0px;
    z-index: 1;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}

div.red-counter {
	display: none;
	font-family: Sansita;
	font-size: 11px;
	color: white;
	text-align: center;
	height: 15px;
	width: 15px;
	background-color: red;
	position: absolute;
	top: 5px;
	right: 5px;
	border-radius: 50%;
}

div.new-invitation {
	display: flex;
	position: relative;
	padding: 3px;
	border: 1px solid #9ad3de;
	border-radius: 5px;
	margin-top: 2px;
	max-height: 50px;
}

.new-invitation p {
	font-family: Sansita;
	font-size: 18px;
	margin-top: auto;
	margin-left: 5px;
	padding: 0px;
	word-wrap: break-word;
	max-width: 200px;
}

.new-invitation img {
	display: block;
	border-radius: 5px;
	width: 50px;
	height: 50px;
}

.checkIcon {
	position: absolute;
	color: #a9a9a9;	
	cursor: pointer;
	transition-duration: 0.3s;
	display: block;
	height: 30px;
	width: 30px;
	top: 10px;
	right: 50px;
}

.crossIcon {
	position: absolute;
	color: #a9a9a9;	
	cursor: pointer;
	transition-duration: 0.3s;
	display: block;
	height: 30px;
	width: 30px;
	top: 10px;
	right: 10px;
}

.checkIcon:hover {
	color: lightgreen;
}

.crossIcon:hover {
	color: tomato;
}


/* LEFT MENU */
h1.name {
    text-align: center;
    font-family: 'Sansita', serif;
    font-size: 24px;
}

h1.menu {
    text-align: center;
    font-family: 'Sansita', serif;
    font-size: 20px;
}

p.menu {
	padding: 0px;
	margin: 2px;
}

p.menu:hover {
	cursor: pointer;
	background-color: #f3f3f3;
}

p a {
    color: black;
    text-decoration: none;
}

/* MAIN BODY AND COLUMNS */

.body-nomargins {
	margin: 0px;
	background: #eaeaea; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#eaeaea, white) fixed; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#eaeaea, white) fixed; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#eaeaea, white) fixed; /* For Firefox 3.6 to 15 */
    background: linear-gradient(#eaeaea, white) fixed; /* Standard syntax */

}

.container-width {
	width: 1060px;
}

div.main-container {
	background-color: #ededed;
	margin: auto;
	height: 1px; /* jebne za moment */ 
	margin-top: 50px;
}

div.left-column {
	background-color: white;
	position: fixed;
    width: 244px;
    border: 2px solid;
	border-color: #4597ba;
}

div.center-column {
	background-color: white;
    width: 619px;
    height: auto;
    float: left;
    min-height: 100px;
    margin-left: 249px;
	border: 2px solid;
	border-color: #4597ba;
}

div.right-column {
	background-color: white;
    position: fixed;
    width: 184px;
    height: 240px;
    margin-left: 873px;
    border: 2px solid;
	border-color: #4597ba;
}

div.nav-container {
	position:relative;
	padding: 0px;
	margin:auto;
}

img.profilePhoto {
	display: block;
	border: 3px solid black;
	margin: 20px;
}

div.time-mooose-status-div {
	width: 600px;
	float:left;
	margin: 5px 10px 5px 10px;
	border: 2px solid #89bdd3;
	border-radius: 10px;
}

p.time-moose-status-user {
	float:left;
	margin:5px;
	width: 300px;
	font-family: Sansita;
	font-size: 16px;
}

p.time-moose-status-date {
	float:right;
	margin:5px;
	font-family: Sansita;
	font-size: 16px;
}

p.time-moose-status-location {
	float:left;
	margin:5px;
	font-family: Sansita;
	font-size: 14px;
}

div.time-moose-status-content {
	float:left;
	margin: 5px;
    width: 580px;
    height: auto;
    word-wrap: break-word;
    padding: 5px;
    font-family: Sansita;
	font-size: 18px;
}

img.timeMooseStatusAvatar {
	border-radius: 10px;
	float:left;
	margin:5px;
}