<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="../../resources/mainStyle.css" th:href="@{/resources/mainStyle.css}">
<link rel="stylesheet" href="../../resources/font-awesome/css/font-awesome.min.css" th:href="@{/resources/font-awesome/css/font-awesome.min.css}">
<link rel="icon" href="../../resources/images/moose_front.png" th:href="@{/resources/images/moose_front.png}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="invitationsList">
		<div class="new-invitation" th:each="invite : ${relationshipList}">
			<img alt="Jan" src="../../resources/images/moose-avatarxs.jpg"
				th:alt="${invite.user.firstName}" th:src="@{navi/miniatureInInv/} + ${invite.user.profilePicture} + 'xs'">
			<p th:text="${invite.user.firstName}+' '+${invite.user.lastName}"> 
				Jan Nowak
			</p>
			<i th:id="|declineId${invite.relationshipId}|" th:onclick="|invitationDecline(${invite.relationshipId})|" 
				class="fa fa-times-circle-o  fa-2x crossIcon" aria-hidden="true"></i>
			<i th:id="|acceptId${invite.relationshipId}|" th:onclick="|invitationAccept(${invite.relationshipId})|" 
				class="fa fa-check-circle-o fa-2x checkIcon" aria-hidden="true"></i>
		</div>
	</div> 
</body>
</html>