<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lobster&subset=latin-ext">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Sansita&subset=latin-ext">
<link rel="stylesheet" type="text/css" href="../../resources/mainStyle.css" th:href="@{/resources/mainStyle.css}">
<link rel="stylesheet" href="../../resources/font-awesome/css/font-awesome.min.css" th:href="@{/resources/font-awesome/css/font-awesome.min.css}">
<link rel="icon" href="../../resources/images/moose_front.png" th:href="@{/resources/images/moose_front.png}">
<meta charset="UTF-8">
<head>
<title>Przyjaciule</title>
<style>

</style>
</head>
<body class="body-nomargins">

	<div th:replace ="~{fragments :: navigationBar}"></div>

	<div class="main-container container-width">
	
		<div th:replace ="~{fragments :: leftColumnEmpty}"></div>
	
		<div class="center-column">
		
			<div class="time-mooose-status-div" th:each="timeMooseStatus : ${timeMooseStatusList}">
				<img class="timeMooseStatusAvatar" alt="avatarXS" src="../../resources/images/moose-avatarxs.jpg"
					 th:alt="${user.firstName}" th:src="@{/profile/} + ${timeMooseStatus.user.userId} + '/miniatureDisplay'">
				<p class="time-moose-status-user" th:text="${timeMooseStatus.user.firstName}+' '+${timeMooseStatus.user.lastName}">Jan Kowalski</p>
				<p class="time-moose-status-date" th:text="${timeMooseStatus.creationDate}">01.01.2017</p>
				<p class="time-moose-status-location"></p>
				<div class="time-moose-status-content" th:text="${timeMooseStatus.text}">Tekst statusu</div>
			</div>

		</div>
		
		<div th:replace ="~{fragments :: rightColumn}"></div>
	

</body>
<script src="../../resources/floatingComponents.js" th:src="@{/resources/floatingComponents.js}"></script>
<script>

</script>
</html>