<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lobster&subset=latin-ext">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Sansita&subset=latin-ext">
<link rel="stylesheet" type="text/css" href="../../resources/mainStyle.css" th:href="@{/resources/mainStyle.css}">
<link rel="stylesheet" href="../../resources/font-awesome/css/font-awesome.min.css" th:href="@{/resources/font-awesome/css/font-awesome.min.css}">
<link rel="icon" href="../../resources/images/moose_front.png" th:href="@{/resources/images/moose_front.png}">
<meta charset="UTF-8">
<head>
<title>Przyjaciule</title>

</head>
<body class="body-nomargins">

	<div th:replace ="~{fragments :: navigationBar}"></div>

	<div class="main-container container-width">
	
		<div th:replace ="~{fragments :: leftColumnFrond}"></div>
	
		<div class="center-column">
			
			<div th:replace ="~{statuses :: timeMoose}"></div>
			
		</div>
		
		<div th:replace ="~{fragments :: rightColumn}"></div>
	
	</div>

</body>
<script src="../../resources/floatingComponents.js" th:src="@{/resources/floatingComponents.js}"></script>
<script src="../../resources/comments.js" th:src="@{/resources/comments.js}"></script>
</html>