<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lobster&subset=latin-ext">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Sansita&subset=latin-ext">
<link rel="stylesheet" type="text/css" href="../../resources/mainStyle.css">
<link rel="stylesheet" href="../../resources/font-awesome/css/font-awesome.min.css">
<link rel="icon" href="../../resources/images/moose_front.png">

<meta charset="UTF-8">

  <body>
  
	<div th:fragment="navigationBar" id="nav-container" class="nav-container container-width">
		<ul id="navigationBar" class="container-width">
			<li style="float: left"><a href="allUsers.html" th:href="@{/allUsers}">Przyjaciule</a></li>
			<li><a href="#about">Ustawienia</a></li>
			<li><a href="#about">Powiadomienia</a></li>
			<li><a href="#about">Wiadomości</a></li>
			<li><a id="new-invitations-button" onclick="frondInvitationDropDown()">Zaproszenia</a>
				<div id="invitationCounter" class="invitation-counter" th:text="${newInvitations}">
					0 
				</div>
				<div id="myDropdown" class="dropdown-content">
					NIE MASZ NOWYCH ZAPROSZEŃ
					<!-- doczytywane po załadowaniu strony z fragmentu invitations -->
				</div> 
			</li>
			<li><a href="#news">Wall</a></li>
			<li>
				<img id="myAvatarOnNav" class="myAvatarOnNav" alt="moose" src="../../resources/images/moose-avatarxs.jpg" 
					th:alt="${user.firstName}" th:src="@{/myProfile/miniatureDisplay}" />
				<a href="myProfile.html" th:href="@{/myProfile}">Mój profil</a>
			</li>
		</ul>
		<script>

		function invitationAccept(relationshipId) {
			$.get("navi/invitationAccepted/"+relationshipId);
			$('#invitationId'+relationshipId).fadeOut(400, decreaseInvitationsCounter());
			
		}

		function invitationDecline(relationshipId) {
			$.get("navi/invitationDeclined/"+relationshipId);
			$('#invitationId'+relationshipId).fadeOut(400, decreaseInvitationsCounter());
		}

		function decreaseInvitationsCounter() {
			$("#invitationCounter").text($("#invitationCounter").text() - 1);
			if($("#invitationCounter").text() == 0)
				$("#invitationCounter").fadeOut();
		}

		
		function frondInvitationDropDown() {
		    document.getElementById("myDropdown").classList.toggle("show");
		}

		$("#myAvatarOnNav").click(function() {
			var rootUrl = location.href.split("Fronds")[0];
			window.location = rootUrl + "Fronds/myProfile";
		});

		$(window).click(function(event) {
			
			if (!$(event.target).is('#new-invitations-button')) {
				// hehe
				var parts = '.dropdown-content div, .checkIcon, .crossIcon, .new-invitation p, .new-invitation img, .dropdown-content';
				if (!($(event.target).is(parts))) {
				    var dropdowns = document.getElementsByClassName("dropdown-content");
				    var i;
				    for (i = 0; i < dropdowns.length; i++) {
				      var openDropdown = dropdowns[i];
				      if (openDropdown.classList.contains('show')) {
				        openDropdown.classList.remove('show');
				      }
				    }
				}
			  }
		});

		
		 $(document).ready(function(){
			var rootUrl = location.href.split("Fronds")[0];
			$.get(rootUrl + "Fronds/navi/getInvitationsCount", function(data) {
				if(data != 0) {
					$("#invitationCounter").text(data);
					$("#invitationCounter").show();
					$("#myDropdown").load(rootUrl + "Fronds/navi/getInvitations");
				}
			}); 
		});

		</script>
	</div>
	
	<div th:fragment="rightColumn" class="right-column">
			
	</div>
  
  </body>
  
</html>