<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lobster&subset=latin-ext">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Sansita&subset=latin-ext">
<link rel="stylesheet" type="text/css" href="../../resources/mainStyle.css" th:href="@{/resources/mainStyle.css}">
<link rel="stylesheet" href="../../resources/font-awesome/css/font-awesome.min.css" th:href="@{/resources/font-awesome/css/font-awesome.min.css}">
<link rel="icon" href="../../resources/images/moose_front.png" th:href="@{/resources/images/moose_front.png}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>

div.main {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	height: 400px;
	background-color: lightblue;
	padding: 10px; /* trzeba robic padding   */
}


</style>


</head>
<body>

	<div class="main">
		<div class="status-container"  th:each="timeMooseStatus : ${timeMooseStatusList}">
			<div class="flex100">
				<img class="avatarSmall margin5px" alt="avatarXS" src="../../resources/images/moose-avatarxs.jpg"
				 th:alt="${user.firstName}" th:src="@{/myProfile/miniatureDisplay}">
				<div class="nameDateLocationContainer margin5px">
					<div class="flex100">
						<p class="margin0px padding0px sansita16" th:text="${user.firstName}+' '+${user.lastName}">
							Jan Kowalski
						</p>
						<p class="margin0px padding0px autoMarginleft sansita16" th:text="${timeMooseStatus.creationDate}">
							01.01.2017
						</p>
					</div>
					<p class="statusLocation padding0px sansita16"><p>
				</div>
			</div>
			<div class="statusMiddle margin5px padding5px sansita18" th:text="${timeMooseStatus.text}">
				Status content
			</div>
			<hr class="margin0px padding0px">
			<div class="statusBottom padding5px">
				<i class="fa fa-thumbs-up" aria-hidden="true"></i>
				<p class="lajksAndHejts padding0px sansita16">Lajk</p>
				<i class="fa fa-thumbs-down" aria-hidden="true"></i>
				<p class="lajksAndHejts sansita16">Hejt</p>
				<i class="fa fa-comment autoMarginleft" aria-hidden="true"></i>
				<p class="lajksAndHejts sansita16">Komcie</p>
			</div>
		</div>
		
	</div>
	
</body>
</html>